<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board.dao.boardDAO">
	
	<resultMap type="boardVO" id="boardMap">
		<result column="reg_date" property="regDate"></result>
		<result column="item_code" property="itemCode"></result>
	</resultMap>


	<!-- review 목록 가져오기 -->
	<select id="reviewList" resultMap="boardMap" parameterType="String">
		SELECT NO, ID , CONTENT , ITEM_CODE , TO_CHAR(REG_DATE,'YYYY-MM-DD') AS REG_DATE 
  		  FROM REVIEW
  		 WHERE item_code = #{ itemCode } 
	</select>
	
	
	<!-- review 삽입 -->
	<insert id="insertReview">
		INSERT INTO REVIEW (NO, ID, CONTENT, ITEM_CODE)
		VALUES (seq_review_no.nextval, #{ id }, #{ content }, #{ itemCode })
	</insert>
	
	
	<!-- 문의 글 삽입 -->
	<insert id="insertRequest" parameterType="kr.ac.kopo.vo.BoardVO">
		INSERT INTO CONTACT_US (id, name, title, content, no)
		VALUES (#{ id }, #{ name }, #{ title }, #{ content }, seq_contact_us_no.nextval)
	</insert>
	
	
	<select id="boardList" resultMap="boardMap">
		SELECT NO, id, name, title, content, TO_CHAR(reg_date, 'YYYY-MM-DD') AS reg_date 
  		  FROM CONTACT_US
	</select>
	
	
	<select id="contactSingle" resultMap="boardMap" parameterType="Integer">
		SELECT NO, id, name, title, content, TO_CHAR(reg_date, 'YYYY-MM-DD') AS reg_date 
		  FROM CONTACT_US
		 WHERE NO = #{ no }
	</select>
	
	
	<!-- review 삭제 -->
	<delete id="deleteReview" parameterType="int">
		DELETE
		  FROM review
		 WHERE no = #{ no }
	</delete>
	
	
	<delete id="deleteContact" parameterType="int">
		DELETE
		  FROM contact_us
		 WHERE no = #{ no }
	</delete>
	
	
</mapper>