<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member.dao.memberDAO">

	<!-- 쿼리 실행 후 결과값 담아줄 resultMap -->
	<resultMap type="memberVO" id="memberMap">
		<result column="basic_addr" property="basicAddr"/>
		<result column="detail_addr" property="detailAddr"/>
		<result column="reg_date" property="regDate"/>
	</resultMap>
	
	<sql id="selectUser">
		select id, password, name, phone, age, sex, postcode, basic_addr, detail_addr, point, TO_CHAR(REG_DATE,'YYYY-MM-DD') AS REG_DATE
		  from userinfo
	</sql>

	<!-- 쿼리문 -->
	
	<!-- userinfo 레코드 삽입 -->
	<insert id="insertUserInfo">
		insert into userinfo(id, password, name, phone, age, sex, postcode, basic_addr, detail_addr, point)
		values (#{ id }, #{ password }, #{ name }, #{ phone }, #{ age }, #{ sex }, #{ postcode }, #{ basicAddr }, #{ detailAddr }, #{ point })
	</insert>
	
	<!-- 로그인 회원정보 가져오기 -->
	<select id="loginUserInfo" resultMap="memberMap" parameterType="String">
		<include refid="selectUser"></include>
		where id = #{ id }
	</select>
	
	
	<!-- 비밀번호 맞는지 확인 -->
	<select id="loginCheck" resultMap="memberMap" parameterType="memberVO">
		<include refid="selectUser"></include>
		where id = #{ id }
		  and password = #{ password }
	</select>
	
	
	<!-- 포인트 추가하기 -->
	<update id="addPoint" parameterType="memberVO">
		UPDATE USERINFO 
		   SET POINT = #{ point }
		 WHERE ID = #{ id }
	</update>


	<!-- 포인트 제거하기(트랜잭션) -->
	<update id="deletePoint" parameterType="memberVO">
		UPDATE USERINFO 
		   SET POINT = #{ point }
		 WHERE ID = #{ id }
	</update>
	
</mapper>